<% provide(:title, 'Quienes somos') %>
<h1>Quienes somos</h1>
<p>
    Somos un grupo de individuos altamente competitivos aficionados al futbol buscando un poco
    de diversión con los los partidos de la Liga MX
</p>
