<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
    Jornanda a jornada de la <a href="http://www.ligamx.net/">Liga MX</a> podras ir haciendo tus
    pronosticos sobre el resultado de los partidos. Compitiendo contra otros para ver quien acierta al
    mayor numero de resultados.
</p>
