<div class="center hero-unit">
    <h1>Bienvenido a Mi Quiniela MX</h1>
    <h2>
        Este es el lugar donde podras demostar cuanto sabes de futbol y sacar un beneficio compitiendo contra otros aficionados como tu.
    </h2>
    
    <%= link_to "Unase a la comunidad!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("liga_mx.png", alt: "Liga MX", size: "150"), 'http://www.ligamx.net/' %>
